*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body{
    height: 100px;
    background-color: #f4f4f4;
    background-size: cover;
}


/* header */
header{
    position: relative;
}

nav{
    width: 100%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    position: fixed;
    z-index: 1;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}

nav .logo a{
    font-size: 24px;
    font-weight: 500;
    color: #de1b51;
    margin-left: 10px;
}


li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000000;
    font-size: 1rem;   
}

nav .links .current-page{
    color:#de1b51;
}

a:hover{
    color: #de1b51;
}

nav .links{
    display: flex;
    gap: 2rem;
}

nav .toggle_btn{
    color: #000000;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

/* dropdown menu */
.dropdown_menu{
    display: none;
    position: absolute;
    right: 0;
    top: 60px;
    height: 0;
    width: 80%;
    background: rgba(255, 255, 255, 1);
    /* backdrop-filter: blur(15px); */
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 2;
}

.dropdown_menu.open{
    height: 100vh;
    position: fixed;
}

.dropdown_menu li{
    height: 10%;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content:first baseline;
}

/* .header-image img{
    width: 100%;
    height: 314px;
    object-fit: cover;
}

.merah{
    display: flex;
    width: 100%;
    height: 314px;
    background-color: #de1b51;
    opacity: 50%;
    margin-top: -318px;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    color: #ffffff;
} */

.hero-section{
    display: flex;
    justify-content: space-around;
    background-color: #de1b51;
    width: 100%;
    height: 750px;
}

.judul h1{
    margin-top: 159px;
    margin-left: 32px;
    /* margin-right: 0px ; */
    color: #ffffff;
}

.judul p{
    margin-left: 32px;
    /* margin-right: 0px; */
    color:#ffffff;
    margin-top: 60px;
}

.elemen-gambar img{
    /* margin-left: 0px; */
    height: 100%;
    width: 850px;
}

.layanan{
    margin:86px 48px 60px 48px;
    text-align: justify;
}

.layanan h1{
    text-align: center;
    margin-bottom: 66px;
    font-size: 48px;
}

.wrap-layanan{
    display:flex;
    justify-content: space-around;
}

.wrap-layanan .card {
    width: 300px;
    height: 380px;
    margin: 10px 20px 0 0;
    position: relative;
    box-shadow: 0 10px 10px rgba(0,0,0,.1);
    background-color: #ffffff;
}

.wrap-layanan .head-card img {
    width: 100%;
    height: 173px;
    object-fit: cover;
}

.wrap-layanan .body-card {
    padding: 10px 15px;
}

.wrap-layanan .body-card h1 {
    margin: 0;  
}

.button .daftar{
    margin: 73px 135px 69px 135px;
    padding: 10px 482px 10px 482px;
    display: flex;
    justify-content: center;
    background-color: #de1b51;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 24;
    font-weight: bold;
    border-radius: 6px;
}
.about{
    background-image: url(../Asset/Beranda-tentang/Backgroundred.png);
    color: #ffffff;
    height: 100vh;
}
.about h1{
    display: flex;
    padding-top: 54px;
    justify-content: center;
    font-size: 48px;
}

.wrap-about{
    padding:54px 32px 140px 32px;
    display: flex;
}

.wrap-about .perkenalan{
    display: flex;
    flex-direction: column;
    width: 120%;
    background-color: #de1b51;
    margin-right: 28px;
    padding: 40px 113px 136px 24px;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0,0,0,.2);
}

.wrap-about .visi-misi{
    display: flex;
    flex-direction: column;
    padding: 24px 36px 24px 36px;
    background-color: #de1b51;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0,0,0,.2);
}

.konsultasi{
    padding: 54px 44px 180px 44px;
}
.konsultasi h1{
    display: flex;
    justify-content: center;
    margin-bottom: 74px;
    font-size: 48px;
}
.wrap-konsultasi{
    display: flex;
    justify-content: space-around;
}

.wrap-konsultasi .card {
    width: 300px;
    height: 380px;
    margin: 10px 20px 0 0;
    position: relative;
    box-shadow: 0 10px 10px rgba(0,0,0,.1);
    background-color: #ffffff;
}

.wrap-konsultasi .head-card img {
    width: 100%;
    height: 173px;
    object-fit: cover;
}

.wrap-konsultasi .body-card {
    padding: 10px 15px;
}

.wrap-konsultasi .body-card h1 {
    margin: 0;  
}

.testimoni{
    background-image: url(../Asset/Beranda/Beranda\ Testimoni/Background-red.png);
    width:100%;
    height: 100vh;
    padding: 5%;
}

.testimoni h1{
    color: white;
    text-align: center;
    margin-bottom: 10%;
    font-size: 48px;
}
.testimoni .wrap-card{
    display: flex;
}
.testimoni .card {
    width: 220px;
    height: 152px;
    margin: 0 20px 0 20px;
    box-shadow: 0 10px 10px rgba(0,0,0,.1);
    background-color: #ffffff;
    border-radius: 10px;
}
.testimoni .card .card-content{
    padding: 10px 15px;
    font-size: 12px;
}

.feedback-form{
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 5% 15%;
}

.feedback-form h1{
    text-align: center;
    margin-bottom: 10%;
    font-size: 48px;
}

.wrap-feedback{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.feedback-form .nama{
    box-sizing: border-box;
    width: 100%;
    padding: 6px 12px;
    margin-bottom: 24px;
    line-height: 2em;
    border-radius: 3px;
    border: 1px solid #dbe4e4;
    box-shadow: none;
    outline: none;
}

.feedback-form .feedback{
    box-sizing: border-box;
    width: 100%;
    padding: 6px 12px 10% 12px;
    line-height: 2em;
    border-radius: 3px;
    border: 1px solid #dbe4e4;
    box-shadow: none;
    outline: none;
}

.submitfeedback{
    margin-top: 1%;
    padding: 10px;
    width: 10%;
    background-color: #de1b51;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 24;
    font-weight: bold;
    border-radius: 6px;
}
footer{
    display: flex;
    width:100%;
    height: 295px;
    background-color: #2e2e2e;
    color:#ffffff;
    justify-content: space-around;
    align-items: center;
}



footer .socmed .socmed-icon{
    display: flex;
    justify-content: space-between;
}

footer .footer-links li a{
    color: #ffffff;
}
footer .footer-links li a:hover{
    color: #de1b51;
}

footer .footer-location .location-icon{
    display: flex;
}

/* responsive design */
@media(max-width: 768px){
    nav .links{
        gap: 1rem;
    }

    .isi-section{
        grid-template-columns: auto auto;
        justify-content: center;
    }

    .card {
        width: 300px;
        height: 330px;
        margin: 50px 0;
        border-radius: 15px;
    }
}

@media(max-width: 576px){
    nav .links{
        display: none;
    }

    nav .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }

    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
    .isi-section{
        grid-template-columns: auto;
        justify-content: center;
    }

    footer{
        flex-direction: column;
        justify-content: space-around;
        height: 240px;
    }

    footer .footer-links{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
}

#preloader{
    background: #ffffff url(../Asset/loader.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}