*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body{
    height: 100px;
    background-color: #f4f4f4;
    background-size: cover;
}


/* header */
header{
    position: relative;
}

nav{
    width: 100%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    position: fixed;
    z-index: 1;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}

nav .logo a{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: #de1b51;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000000;
    font-size: 1rem;   
}

nav .links .current-page{
    color:#de1b51;
}

a:hover{
    color: #de1b51;
}

nav .links{
    display: flex;
    gap: 2rem;
}

nav .toggle_btn{
    color: #000000;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

/* dropdown menu */
.dropdown_menu{
    display: none;
    position: absolute;
    right: 0;
    top: 60px;
    height: 0;
    width: 80%;
    background: rgba(255, 255, 255, 1);
    /* backdrop-filter: blur(15px); */
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 2;
}

.dropdown_menu.open{
    height: 100vh;
    position: fixed;
}

.dropdown_menu li{
    height: 10%;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content:first baseline;
}

.header-image img{
    width: 100%;
    height: 314px;
    object-fit: cover;
}

.merah{
    display: flex;
    width: 100%;
    height: 314px;
    background-color: #de1b51;
    opacity: 50%;
    margin-top: -318px;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    color: #ffffff;
}

.content-section{
    background-color: #ffffff;
    margin: 49px 132px 20px 132px;
    box-shadow: 0 10px 10px rgba(40, 10, 10, 0.1);
}

.intro img{
    margin: 32px 40px 20px 40px;
    width: 90%;
    height:400px;
    align-items: center;
    object-fit: cover;
}

.intro h1, p{
    margin: 0px 40px 20px 40px;
    justify-content: center;
}

.offlineCons{
    display: flex;
    text-align: justify;
}
.offlineCons img{
    margin:0px 30px 20px 40px;
    width: 352px;
    height:208px;
    object-fit: cover;
}

.onlineCons{
    display: flex;
    text-align: justify;
}
.onlineCons img{
    margin:0px 30px 20px 40px;
    width: 352px;
    height:208px;
    object-fit: cover;
}

.seminarRutin{
    display: flex;
    text-align: justify;
}
.seminarRutin img{
    margin:0px 30px 20px 40px;
    width: 352px;
    height:208px;
    object-fit: cover;
}

footer{
    display: flex;
    width:100%;
    height: 295px;
    background-color: #2e2e2e;
    color:#ffffff;
    justify-content: space-around;
    align-items: center;
}



footer .socmed .socmed-icon{
    display: flex;
    justify-content: space-between;
}

footer .footer-links li a{
    color: #ffffff;
}
footer .footer-links li a:hover{
    color: #de1b51;
}

footer .footer-location .location-icon{
    display: flex;
    align-items: center;
}

/* responsive design */
@media(max-width: 768px){
    nav .links{
        gap: 1rem;
    }

    .content-section{
        background-color: #ffffff;
        margin: 49px 40px 20px 40px;
        box-shadow: 0 10px 10px rgba(40, 10, 10, 0.1);
    }
    
    .intro img{
        margin: 20px 20px 10px 20px;
        width: 94%;
        height:300px;
        align-items: center;
        object-fit: cover;
    }
    
    .intro h1, p{
        margin: 0 20px 0px 20px;
        justify-content: center;
    }
    
    .offlineCons{
        display: flex;
        flex-direction: column;
        text-align: justify;
    }
    .offlineCons img{
        margin:20px 20px 10px 20px;
        width: 352px;
        height:208px;
        object-fit: cover;
    }
    .offlineCons h1, p{
        margin: 0 20px 10px 20px;
    }
    
    .onlineCons{
        display: flex;
        flex-direction: column-reverse;
        text-align: justify;
    }
    .onlineCons img{
        margin:10px 20px 10px 20px;
        width: 352px;
        height:208px;
        object-fit: cover;
    }
    .onlineCons h1, p{
        margin: 0 20px 10px 20px;
    }
    
    .seminarRutin{
        display: flex;
        flex-direction: column;
        text-align: justify;
    }
    .seminarRutin img{
        margin:10px 20px 10px 20px;
        width: 352px;
        height:208px;
        object-fit: cover;
    }
    .seminarRutin h1, p{
        margin: 0 20px 10px 20px;
    }
}

@media(max-width: 576px){
    nav .links{
        display: none;
    }

    nav .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }

    .dropdown_menu{
        left: 2rem;
        width: unset;
    }

    .intro img{
        width: 90%;
        height: 270px;
    }

    footer{
        flex-direction: column;
        justify-content: space-around;
        height: 240px;
    }

    footer .footer-links{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
}

#preloader{
    background: #ffffff url(../Asset/loader.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}