*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';

}

body{
    background-color: red;
    display: flex;
}
.modal-form{
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: 100px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 3% 1%;
}

.modal-form h1{
    display: flex;
    justify-content: center;
}

.modal-form .formulir{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.modal-form .formulir .isi{
    box-sizing: border-box;
    width: 100%;
    padding: 6px 12px;
    margin-top: 10px;
    margin-bottom: 24px;
    line-height: 2em;
    border-radius: 3px;
    border: 1px solid #dbe4e4;
    box-shadow: none;
    outline: none;
}
.button-submit-formulir{
    display: flex;
    justify-content: center;
    margin-top: -3%;
}
.submit-formulir{
    padding: 10px;
    width: 20%;
    background-color: #de1b51;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 24;
    font-weight: bold;
    border-radius: 6px;
    text-align: center;
}

.modal-submit{
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: 100px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 3% 3%;
    align-items: center;
    justify-content: space-between;
    text-align: justify;
}

.modal-submit img{
    width: 65%;
    height: auto;
}